@{
    ViewData["Title"] = "Error Page";
}

<div class="text-center">
    <h2 class="display-4">Something went wrong</h2>
    <a type="button" class="btn btn-info" href="javascript: history.go(-1)">Go back</a>
</div>