@using Microsoft.AspNetCore.Identity
@using TestingSystem.Areas.Identity.Data

@inject SignInManager<TestingSystemUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Index", "Test")'">Start test</button>
    }
</div>
